<div id="header" class="clearfix">
  <div id="header-wrapper">
    <div id="header-right">
      <ul id="header-menu">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/tour/">Tour</a>
        </li>
        <li>
          <a href="/pricing/">Pricing &amp; Signup</a>
        </li>
        <!--li>
          <a href="http://blog.52cents.com">Blog</a>
        </li-->
        <li>
          <a href="http://a.52cents.com/find_login/">Log In</a>
        </li>
      </ul>
    </div>
    <div id="header-logo">
      <a href="/" title="52cents - Online cash flow management"><img alt=
        "52cents - Online cash flow management" src="{{ "/images/logo.png" | prepend: site.baseurl }}" /></a>
    </div>

  </div>
</div>
